//Page-contents
//-----------------------------------------------------------------------------
//creating sensible class and adding padding to our content
.page-content{
	background-color:#eaffad;
	padding-top:50px;
	padding-bottom:0px;
.home-page{
	background-color:#b4d119;
	border-radius:10px;
	border:1px solid #90a714;
	 margin-top:30px;
	 padding-top:15px;
	 height:250px;
	>h1{
		text-align:center;
		padding-left:15px;
	}
	>p{
		text-align:center;
		padding-left:15px;
	}
	}
	
	
@media(min-width:@screen-sm-min){
	height:650px;
.section{
	margin-top:70px;	
}	
}

@media (max-width: @screen-xs-max) {
height:1150px;
[class*="col-"] {
clear: both;
padding-top:20px;
padding-bottom: 40px;
}

}

}
.project-list{
	background-color:#bbd52f;
	@media(min-width:@screen-sm-min){
	height:650px;
	
	}
	@media (max-width: @screen-xs-max) {
    height:1360px;
    [class*="col-"] {
		clear: both;
		padding-top:20px;
		padding-bottom: 30px;
	}

    }
    padding-top:30px;
    padding-bottom:0px;
        
    >.portfolio-head{
    	margin-top:50px;
    	margin-bottom:0px;
    	}
    [class*="col-"]{
    	padding-top:30px;
    	>.description{
    		padding-top:20px;
    		padding-bottom:15px;
    	}
    }
}
 
